#alfakryl-logo a { font-size: 4em; 
    text-decoration: none; margin-left: 40px;}

.space {background: url(../img/pattern_01.png) repeat; 
    clear: both; 
    height: 18px;
    margin-bottom: 18px;}

#header {background-color: #111111;}
#header a, #header a:link {color: #3465a4; text-decoration: none;}
#header a:active, #header a:hover, #header a.focus {color: #729fcf;}

#main-navigation ul li {display: block; float: left;}
#main-navigation ul {margin: 0 30px;}
#main-navigation a {font-size: 2em; 
    color: #eeeeec;
    padding: 0 15px;
    font-variant: small-caps;
    text-transform: lowercase;}
#main-navigation {background-color: #2e3436;
    height: 36px;
    position: relative;}
#user-navigation { 
    text-align: right; 
    position: absolute; 
    right: 0; 
    top: -36px;
    height: 36px;
    color: #eeeeec;
    padding-top: 9px;}
#user-navigation a {font-size: 1.2em;}
#user-navigation ul li {}
#footer {background-color: #111111;
    color: #eeeeec;
    margin-top: 18px;}
#footer-links {background-color: #2e3436; 
    margin-bottom: 18px;}
#footer-links ul {margin: 0; 
    padding: 9px 0;}
#footer-links ul li {display: inline;}
#footer a, #footer a:link {color: #3465a4; 
    text-decoration: none;}
#footer a:active, #footer a:hover, #footer a.focus {color: #729fcf;}

a {text-decoration: none;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration: none; 
    color: #111111;}
a:hover, a:focus, a:active {color: #3465a4;}

.introduction {font-weight: bold;}
.crud-links {float: right;}
.photos {overflow: hidden; 
    margin: 18px 0;
    position: relative;}
.photos .photo {}
.photo-meta {background-color: #eeeeec;
    padding: 0 10px;}
.photo-actions {float: right;}
.messages {margin-bottom: 18px;}
#main-wrap {margin: 18px 0;}

h2 {line-height: 1.2em; margin: 0.2em 0}
.article-list .article {margin-bottom: 18px;}
.article p.meta {}
.article-list p.summary {font-size: 1.2em; margin-bottom: 0.2em;}
.article-list .photo {overflow: hidden; 
    height: 90px; 
    width: 430px;}

#article img {max-width: 470px;}

textarea#id_comment {height: 90px;}

input#id_headline {width: 710px; 
    font-size:3em;
    line-height:1;
    margin: 0 0 0.2em 0;}
textarea#id_body {width: 700px; 
    height:450px;}
textarea#id_summary {height: 90px;}
