#alfakryl-logo a { font-size: 4em; 
    text-decoration: none; margin-left: 30px;}

.space {background: url(../img/pattern_01.png) repeat; 
    clear: both; 
    height: 18px;
    margin-bottom: 18px;}

#header {}
#header a, #header a:link {color: #3465a4; text-decoration: none;}
#header a:active, #header a:hover, #header a.focus {color: #729fcf;}


#main-navigation ul li {display: inline;}
#main-navigation ul {margin: 0 30px;}
#main-navigation {background-color: #2e3436; 
    position: relative;
    -moz-border-radius: 0 0 9px 0;}

#user-navigation {-moz-border-radius: 9px 9px 0 0;
    background-color: #2e3436; 
    text-align: right; 
    position: absolute; 
    right: 0; 
    top: -18px;
    color: #eeeeec;}
#user-navigation ul li {display: inline; padding: 9px 15px;}

#footer {background-color: #111111;
    color: #eeeeec;
    margin-top: 18px;}
#footer-links {background-color: #2e3436; 
    margin-bottom: 18px;}
#footer-links ul {margin: 0; 
    padding: 9px 0;}
#footer-links ul li {display: inline;}
#footer a, #footer a:link {color: #3465a4; text-decoration: none;}
#footer a:active, #footer a:hover, #footer a.focus {color: #729fcf;}

a {text-decoration: none;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration: none; 
    color: #111111;}
a:hover, a:focus, a:active {color: #3465a4;}

.introduction {font-weight: bold;}

.photos {overflow: hidden; 
    margin: 18px 0;}
.messages {margin-bottom: 18px;}
#main-wrap {margin: 18px 0;}

.article-list .article {margin-bottom: 18px;}
.article p.meta {}
.article-list p.summary {margin-bottom: 0;}
.article-list .photo {overflow: hidden; 
    height: 90px; 
    width: 430px;}

#article img {max-width: 470px;}

input#id_headline {width: 710px; 
    font-size:3em;
    line-height:1;
    margin: 0 0 0.2em 0;}
textarea#id_body {width: 700px; 
    height:450px;}
textarea#id_summary {height: 90px;}
