a {text-decoration: none;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration: none; 
    color: #111111;}
a:hover, a:focus, a:active {color: #3465a4;}

.leftsidebar h1 {font-weight: bold;
    font-size: 2em;
    margin: 0.2em 0;
    line-height: 1.2em;}
h2 {line-height: 1.2em; 
    margin: 0.2em 0;}

body {background-color: #ffffff; }

#header {position: relative;}
#header a {color: #111111; text-decoration: none;}
#header a:active, #header a:hover, #header a.focus {color: #729fcf;}

#alfakryl-logo {text-align: center;}
#alfakryl-logo a { font-size: 4em;}

ul.nav {text-align: center;}
ul.nav li {display: inline; }
ul.nav li a {padding: 0 1.2em; 
    background-color: #eeeeec;}

#user-nav {font-size: 1.4em;}
#section-nav ul li a, #date-nav ul li a {font-variant: small-caps;
    text-transform: lowercase;
    font-size: 2em;}
#pages-nav ul li a {font-size: 1.2em;}

#footer {margin-top: 18px; text-align: center;}

#messages {text-align: center; 
    font-size: 1.4em;
    border: 2px solid #111111;}


.introduction {font-weight: bold;}
.crud-links {float: right;}
.photos {overflow: hidden; 
    margin: 18px 0;
    position: relative;}
.photos .photo {}
.photo-meta {background-color: #eeeeec;
    padding: 0 10px;}
.photo-actions {float: right;}
.messages {margin-bottom: 18px;}
#main-wrap {margin: 18px 0;}


.article-list .article {margin-bottom: 18px;}
.article p.meta {}
.article-list p.summary {font-size: 1.2em; margin-bottom: 0.2em;}
.article-list .photo {overflow: hidden; 
    height: 180px; 
    width: 430px;
    border: 1px solid black;}

#article-body img {max-width: 470px;}
#wide-article-body {max-width: 670px;}



textarea#id_comment {height: 90px;}

input#id_headline {width: 710px; 
    font-size:3em;
    line-height:1;
    margin: 0 0 0.2em 0;}
textarea#id_body {width: 700px; 
    height:450px;}
textarea#id_summary {height: 90px;}
