{% extends "base.html" %}
 
{% block title %}{{ object.headline }}{% endblock %}
 
{% block content %}
<div class="span-5">
    {% for section in object.sections.all %}
        <h3><a href="{% url section_archive section.slug %}">{{ section.title }}</a></h3>
    {% endfor %}
    <p>Sidst opdateret: {{ object.mod_date }}</p>
    <h3>Tags</h3>
    <p>{{ object.tags }}</p>   
</div>

<div class="span-12 append-1 last" id="article">
    <h1>{{ object.headline }}</h1>
    <p class="introduction">{{ object.summary }}</p>
    
    Af {% for author in object.authors.all %}
    <a href="{% url user_profile author %}">{% firstof author.get_full_name author.first_name author.username %}</a>
    {% ifnotequal forloop.revcounter 1 %}
    {% ifequal forloop.revcounter 2 %}&amp;{% else %},{% endifequal %}
    {% endifnotequal %}
    {% endfor %}
    
    {% if object.photos.all|first %} 
    {% with object.photos.all|first as photo %}
    <div class="photos">
        <img src="{{ photo.get_article_url }}" alt="{{ photo.caption }}" title="{{ photo.title }}"/>
        <span class="title"><em>{{ photo.title }}</em></span>, <span class="caption">{{ photo.caption }}</span>
    </div>
    {% endwith %}
    {% else %}
    <div class="space"></div>
    {% endif %}
    
    {{ object.body_html|safe }}
    
    <div id="comments">
        <h2>Kommentarer</h2>
        {% if published %}
        {% load comments %}
        
        {% get_comment_list for object as comment_list %}
    
        {% if comment_list %}
        {% for c in comment_list %}
        <p>{{ c.name }}:</p>
        <p>{{ c.comment }}</p>
        {% endfor %}
        {% else %}
        <p>Der er endnu ikke nogen der har kommenteret på denne artikel.</p>
        {% endif %}
    
    
    
        <h3>Skriv kommentar</h3>
        {% render_comment_form for object %}
    
        {% else %}
        <p>Først når artiklen er publiceret kan man kommentere på den.</p>
        {% endif %}
    </div>
    
</div>
        
{% endblock %}
