{% extends "base.html" %}

{% block content %}
    {% if permission %}
        <form method="post" action"">
        <p>Er du sikker på du vil slette artiklen med overskriften {{ article.headline }}? <br /> 
            Den vil være væk for evigt og altid.</p>
            
        <input type="submit" value="Slet Artiklen">
        </form>
        
    {% else %}
    
        <p class="error">Du har ikke rettighedder til at slette artiklen med overskriften {{ article.headline }}.</p>
        
    {% endif %}
{% endblock %}
