<div class="article">

    {% if object.photos.all|first %} 
    {% with object.photos.all|first as photo %}
    <div class="photo">
        <a href="{{ object.get_absolute_url }}" title="{{ object.headline }}">
            <img src="{{ photo.get_index_url }}" alt="{{ photo.caption }}" title="{{ photo.title }}"/></a>
    </div>
    {% endwith %}
    {% else %}
    
    
    {% endif %}
    
    <h2><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></h2>
             
    <p class="summary">{{ object.summary }}</p>
    <p class="meta">{{ object.pub_date.date }} | 
    <a href="{{ object.get_absolute_url }}">læs mere &raquo;</a> </p>
</div>
