<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>fejl [500] noget gik galt på serveren - Alfakryl</title>
</head>
<body>

<h1>Ups, øv! - noget er gået galt på serveren [500]</h1>
<p>Serverens nørd Johan har fået en mail med nærmere informationer om fejlen. Du skal endvidere være velkommen til at fortælle ham personligt hvad du prøvede på da fejlen opstod.</p>

</body>
</html>
