{% extends "base.html" %}

{% block title %}arkiv{% endblock %}

{% block content %}

<div class="span-5 append-1 leftsidebar">
{% block archive-info %}
{% endblock %}
</div>

<div class="span-11 append-1 last article-list">
    {% block archive-content %}
    {% if latest %}
    {% with latest as object_list %}
    {% include "articles/list_snippet.html" %} 
    {% endwith %}
    {% else %}
    {% include "articles/list_snippet.html" %} 
    {% endif %}
    {% endblock %}
</div>

{% endblock %}
