{% extends "base.html" %}

{% block title %}arkiv{% endblock %}

{% block content %}

<div class="span-5 append-1">

{% block archive-info %}
{% endblock %}

</div>

<div class="span-11 append-1 last article-list">
    {% load article_tags %}
    {% block archive-content %}
    {% if latest %}
    {% for object in latest %}
    {% render_article object "h2" %}
    {% endfor %}
    {% else %}
    {% for object in object_list %}
    {% render_article object "h2" %}
    {% endfor %}
    {% endif %}
    {% endblock %}
</div>

{% endblock %}
