{% extends "red_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Yo søde {% firstof user.full_name user.first_name user.username %}</h1>
<p><a href="{% url article_create %}">Skriv ny artikel</a></p>


{% load article_tags %}

<h2>Kladder</h2>
{% if drafts %}
<table>
<tr><th>Overskrift</th><th>Forfatter</th></tr>
{% for a in drafts %}
    <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{{ a.get_absolute_url }}">{{ a.headline }}</a></td> <td>{% for author in a.authors.all %}
        {{ author }}{% endfor %}</td>
    
        <td>{% get_crud_links a %}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>Der er ingen artikler under udarbejdelse.</p>
{% endif %}


{% endblock %}
