{% extends 'base.html' %}

{% block title %}Forside{% endblock %}

{% block content %}
<div class="span-5 append-1">
<h3>Læs!</h3>
{% if articles|slice:"8:" %}{% with articles|slice:"8:" as list %}
<ul>
    {% for object in list %}
    <li><h4><a href="{{ object.get_absolute_url }}">
     {{ object.headline }}</a></h4></li>
    {% endfor %}
</ul>{% endwith %}
<div class="space"></div>
{% endif %}
</div>

<div class="span-11 append-1 last article-list">
{% if articles %}{% with articles|slice:":8" as object_list %}    
{% include "articles/list_snippet.html" %}    
{% endwith %}{% endif %}
</div> 

{% endblock %}
