{% if form.errors %}
<div class="error">
    Noget gik galt, ret fejlene og prøv igen.
    {% for error in form.errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}     
    
<div class="field">
    {{ form.headline.errors }}
    <label for="id_headline">{{ form.headline.label }}</label><br />
    {{ form.headline }}
</div>    

{% if not form.instance.publish %}
<div class="field">
    {{ form.slug.errors }}
    <label for="id_slug">{{ form.slug.label }}</label>
    {{ form.slug }}
</div>
{% endif %}

<div class="field">
    {{ form.summary.errors }}
    <label for="id_summary">{{ form.summary.label }}</label><br />
    {{ form.summary }}
    <p>{{ form.summary.help_text }}</p> 
</div>

<div class="field">
    {{ form.body.errors }}
    <label for="id_body">{{ form.body.label }}</label><br />
    {{ form.body }}
    <p>Du kan benytte <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a> formatering.</p> 
</div>
